@page
@using YungchingDemo.Models
@model MaintainModel
@{
    ViewData["Title"] = "物件維護";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<script>
    // 當按下btnSubmit按鈕時，將表單資料傳送到後端API
    $(document).ready(function () {
        $("#btnSubmit").click(function (event) {
            const maintainType = $("#maintainType").val();
            if (maintainType === "1") {
                // 取得表單資料
                var formData = {
                    ProjectID: $("#projectID").val(),
                    ProjectName: $("#projectName").val(),
                    Type: $("#type").val(),
                    Address: $("#address").val(),
                    Square: $("#square").val(),
                    PublicRatio: $("#publicRatio").val(),
                    Price: $("#price").val(),
                    HaveSpace: $("input[name='haveSpace']:checked").val(),
                    Remark: $("#remark").val()
                };

                updateInfo(formData); // 修改資料
            } else if (maintainType === "2") {
                const projectID = $("#projectID").val()
                deleteInfo(projectID); // 刪除資料
            } else {
                alert("請選擇維護類別！");
            }
        });
    });
    function updateInfo(formData) {
        event.preventDefault(); // 防止表單提交刷新頁面
        // 發送 AJAX 請求到後端 API
        $.ajax({
            url: "/api/UpdateInformation", // 替換為你的 API 相對路徑
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(formData), // 傳遞 JSON 格式的資料
            success: function (response) {
                // 處理成功回應
                console.log('response', response);
                alert(response.message); // 顯示回應訊息
                refreshPage(); // 還原所有欄位設定
            },
            error: function (error) {
                // 處理錯誤回應
                console.error("Error:", error);
                alert("發生錯誤，請稍後再試。");
            }
        });
    }
    function deleteInfo(projectID) {
        event.preventDefault(); // 防止表單提交刷新頁面
        // 取得專案編號
        var projectID = $("#projectID").val();
        // 發送 AJAX 請求到後端 API
        $.ajax({
            url: "/api/DeleteInformation", // 替換為你的 API 相對路徑
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ ProjectID: projectID }), // 傳遞 JSON 格式的資料
            success: function (response) {
                // 處理成功回應
                console.log('response', response);
                alert(response.message); // 顯示回應訊息
                refreshPage(); // 還原所有欄位設定
            },
            error: function (error) {
                // 處理錯誤回應
                console.error("Error:", error);
                alert("發生錯誤，請稍後再試。");
            }
        });
    }
    function queryInfo(projectID) {
        event.preventDefault(); // 防止表單提交刷新頁面
        // 發送 AJAX 請求到後端 API
        $.ajax({
            url: "/api/QueryInformation", // 替換為你的 API 相對路徑
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ ProjectID: projectID }), // 傳遞 JSON 格式的資料
            success: function (response) {
                // 處理成功回應
                console.log('response', response);

                alert(response.message); // 顯示回應訊息

                const result = response.data;
                const maintainType = $("#maintainType").val();

                // 將QueryResult的值set到對應的input欄位
                document.getElementById("projectName").value = result.projectName;
                document.getElementById("type").value = result.type;
                document.getElementById("address").value = result.address;
                document.getElementById("square").value = result.square;
                document.getElementById("publicRatio").value = result.publicRatio;
                document.getElementById("price").value = result.price;
                document.getElementById("haveSpaceYes").checked = result.haveSpace === "1";
                document.getElementById("haveSpaceNo").checked = result.haveSpace === "0";
                document.getElementById("remark").value = result.remark;

                document.getElementById("maintainType").disabled = true;
                // 將projectID欄位disabled
                document.getElementById("projectID").disabled = true;
                if (maintainType === "1") {
                    // 將projectID以外的欄位都解除disabled
                    document.getElementById("projectName").disabled = false;
                    document.getElementById("type").disabled = false;
                    document.getElementById("address").disabled = false;
                    document.getElementById("square").disabled = false;
                    document.getElementById("publicRatio").disabled = false;
                    document.getElementById("price").disabled = false;
                    document.getElementById("haveSpaceYes").disabled = false;
                    document.getElementById("haveSpaceNo").disabled = false;
                    document.getElementById("remark").disabled = false;
                    document.getElementById("btnSubmit").disabled = false;

                    //focus到projectName欄位
                    document.getElementById("projectName").focus();
                } else {
                    document.getElementById("btnSubmit").disabled = false;
                    //focus到btnSubmit按鈕
                    document.getElementById("btnSubmit").focus();
                }
            }
            ,
            error: function (error) {
                // 處理錯誤回應
                console.error("Error:", error);
                alert("發生錯誤，請稍後再試。");
            }
        });

    }
    function validateProjectID() {
        // 取得輸入的專案編號
        var projectID = $("#projectID").val();
        // 檢查是否有輸入專案編號
        if (!projectID) {
            alert("專案編號不可為空！");
        }
        this.queryInfo(projectID)
    }
    function refreshPage() {
        // 將維護類別的選項設為空
        document.getElementById("maintainType").value = "";
        // 將維護類別的選項設為disabled
        document.getElementById("maintainType").disabled = false;
        // 將專案編號的欄位設為disabled
        document.getElementById("projectID").disabled = false;
        // disable所有欄位
        document.getElementById("projectName").disabled = true;
        document.getElementById("type").disabled = true;
        document.getElementById("address").disabled = true;
        document.getElementById("square").disabled = true;
        document.getElementById("publicRatio").disabled = true;
        document.getElementById("price").disabled = true;
        document.getElementById("haveSpaceYes").disabled = true;
        document.getElementById("haveSpaceNo").disabled = true;
        document.getElementById("remark").disabled = true;
        document.getElementById("btnSubmit").disabled = true;
        // 清空所有欄位
        document.getElementById("projectID").value = "";
        document.getElementById("projectName").value = "";
        document.getElementById("type").value = "";
        document.getElementById("address").value = "";
        document.getElementById("square").value = "";
        document.getElementById("publicRatio").value = "";
        document.getElementById("price").value = "";
        document.getElementById("haveSpaceYes").checked = false;
        document.getElementById("haveSpaceNo").checked = false;
        document.getElementById("remark").value = "";

        document.getElementById("maintainType").focus();
    }
</script>

<body>
    <div class="container">
        <div class="row text-center">
            <h1 class="page-header">@ViewData["Title"]</h1>
        </div>
        <div class="row well">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="maintainType" class="col-md-2 control-label">維護類別</label>
                    <div class="col-md-2">
                        <select id="maintainType" name="maintainType" class="form-control">
                            <option value="">請選擇維護類別</option>
                            <option value="1">修改</option>
                            <option value="2">刪除</option>
                        </select>
                    </div>
                    <label for="projectID" class="col-md-2 control-label">專案編號</label>
                    <div class="col-md-2">
                        <input type="text" id="projectID" name="projectID" class="form-control" placeholder="輸入專案編號"
                            maxlength="10" onblur="validateProjectID()" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="projectName" class="col-md-2 control-label">專案名稱</label>
                    <div class="col-md-6">
                        <input type="text" id="projectName" name="projectName" class="form-control" placeholder="輸入專案名稱"
                            maxlength="40" disabled />
                    </div>
                    <label for="type" class="col-md-1 control-label">房屋種類</label>
                    <div class="col-md-2">
                        <select id="type" name="type" class="form-control" disabled>
                            <option value="">請選擇房屋種類</option>
                            <option value="01">住宅</option>
                            <option value="02">商業</option>
                            <option value="03">工業</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-md-2 control-label">房屋地址</label>
                    <div class="col-md-10">
                        <input type="text" id="address" name="address" class="form-control" placeholder="輸入房屋地址"
                            maxlength="40" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="square" class="col-md-2 control-label">房屋坪數</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number" id="square" name="square" class="form-control" placeholder="輸入房屋坪數"
                                step="0.01" max="999" min="0" disabled />
                            <span class="input-group-addon">坪</span>
                        </div>
                    </div>
                    <label for="publicRatio" class="col-md-2 control-label">公設比</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number" id="publicRatio" name="publicRatio" class="form-control"
                                placeholder="輸入公設比 (%)" step="0.01" max="99" min="0" disabled />
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <label for="price" class="col-md-2 control-label">房屋價錢(萬)</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number" id="price" name="price" class="form-control" placeholder="輸入房屋價錢 (萬)"
                                step="1" max="99990000" min="0" disabled />
                            <span class="input-group-addon">萬</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="haveSpace" class="col-md-2 control-label">是否附停車位</label>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" id="haveSpaceYes" name="haveSpace" disabled /> 是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="haveSpaceNo" name="haveSpace" disabled />
                            否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="remark" class="col-md-2 control-label">備註</label>
                    <div class="col-md-10">
                        <textarea id="remark" name="remark" class="form-control" placeholder="輸入備註" disabled></textarea>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button id="btnSubmit" type="submit" class="btn btn-primary" disabled>確定</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
